cmake
clang
git
libpixman-1-0
libpixman-1-dev
libwayland-bin
libwayland-dev
libwlroots-dev
libwlroots3
libxkbcommon-dev
libxkbcommon0
ninja-build
pkg-config
python3
python3-pip
python3-setuptools
python3-wheel
wayland-protocols
waylandpp-dev
xwayland
