meson
ninja-build
gcc
cmake
pkg-config
git
xwayland
wayland-protocols
waylandpp-dev
libwayland-dev
libwlroots3
libwlroots-dev
libxkbcommon-dev
libxkbcommon0
libwayland-bin
libpixman-1-0
libpixman-1-dev
